$primary-color: #583ebc;
$secondary-color: #333333;
$yello-text: #f8f7ab;
$white: #ffffff;
$whiteOpacity: #ffffff33;
$font-Montserrat: "Montserrat", sans-serif;
$font-Paytone: "Paytone One", sans-serif;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-bold: 700;
